h2{
    background-color: #9cb8ff;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color : teal;

}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 10px 10px rgba(50,50,0,0.4);
}


label {
    display: block;
    text-align: center;
    background-color: #3498db; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: #007bff;;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #007bff;;
}
.autre-nationalite {
    display: none;
}
.modifier{
    color: black; /* Couleur orange */
    text-decoration: none; /* Pas de soulignement */
}

.supprimer{
    color: red; /* Couleur orange */
    text-decoration: none; /* Pas de soulignement */
}

.detailler{
    color: black; /* Couleur orange */
    text-decoration: none; /* Pas de soulignement */
}
.box {
    border: 1px solid teal; 
    background-color: #9cb8ff; 
    color: #000; 
    padding: 5px; 
    display: inline-block; 
    border-radius: 5px; 
}


table {
    border-collapse: collapse; /* Fusionner les bordures */
    width: 80%; /* Largeur de la table */
    margin: 0 auto; /* Centrer la table horizontalement */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Ombre */
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 2000px;
    width: 80%;
    margin: 40px auto;
}

/* Style des cellules de la table */
td, th {
    border: 1px solid white; /* Bordure solide */
    padding: 8px; /* Espacement interne */
}

/* Style des en-têtes de colonne */
th {
    background-color: #9cb8ff; /* Couleur de fond */
    color: black; /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    text-align: center; /* Alignement du texte */
}
body {
    background-image: url('imagenobel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.details-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.details-content {
    padding: 10px;
}

.details-content div {
    margin-bottom: 5px;
}
